.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  align-items: start;
  place-self: center;
}

.feature {
  display: grid;
  grid-template-rows: 4rem 4rem max-content;
  gap: 0.5rem;
}

.feature__icon-box {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ifm-navbar-background-color);
  box-shadow: 0px 1px 1px var(--colors-black-a12),
    0px 0px 1px inset var(--colors-gray-a7);
}

.feature__icon {
  color: var(--ifm-color-primary-dark);
}

@media (max-width: 478px) {
  .features {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
